.reviews {
  max-width: 1200px;
  margin: 50px auto;
  padding: 30px 20px;
  background: white;
  padding-bottom: 80px;
}

.reviews h2 {
  font-size: 30px;
  font-weight: 450;
  margin-bottom: 30px;
  text-align: center;
}

.reviews-grid {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.review-card {
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
  padding: 30px;
  border-radius: 10px;
}

.review-user {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  width: 100%;
  justify-content: space-between;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  object-fit: cover;
}

.reviewer {
  font-size: 20px;
  font-weight: 450;
}

.review-date {
  color: #666;
  font-size: 15px;
  margin-left: auto;
}

.review-content {
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 5px;
}

/*Recommended section*/
.recommended-wrapper h2 {
  font-size: 30px;
  font-weight: 450;
  margin-bottom: 30px;
  text-align: center;
}
