* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

body {
    background-color: #f9f9f9;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

.lang span {
    margin-left: 10px;
    font-size: 18px;
}

.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    filter: brightness(70%);
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.hero-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.author-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.author-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.social-icons img {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.content {
    display: flex;
    gap: 30px;
    max-width: 1200px;
    width: 100%;
}

.article {
    flex: 2;
}

h2, h3, h4 {
    margin: 20px 0 10px;
}

h2 {
    font-size: 28px;
    color: #1a73e8;
    font-weight: 540;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    color: #1a73e8;
}

ul {
    list-style: none;
    margin-bottom: 20px;
}

ul li {
    margin: 10px 0;
}

ul li strong {
    color: #333;
}

.article-illustration {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin: 20px 0;
}

aside {
    flex: 1;
    max-width: 300px;
}

.search-bar {
    position: relative;
    margin-bottom: 50px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 16px;
}

.search-bar img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.tags span {
    display: inline-block;
    background-color: #ec5e5e;
    color: white;
    padding: 5px 15px;
    margin: 5px 0;
    border-radius: 15px;
    font-size: 14px;
}

.tags h4 {
    font-weight: 500;
}

.more-articles {
    margin: 20px 0;
}

.more-articles img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.more-articles h4 {
    font-weight: 500;
}

.more-articles a {
    text-decoration: none;
    color: #333;
}

.more-articles .article {
    margin-bottom: 20px;
}

.comments {
    max-width: 800px;
    padding: 20px;
    width: 100%;
}

.comments h3 {
    margin-bottom: 20px;
    color: #17689c;
}

.comments textarea {
    width: 100%;
    height: 100px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
    resize: none;
    font-size: 15px;
}

.post-btn {
    background-color: #17689c;
    color: #fff;
    padding: 8px 25px;
    font-size: 17px;;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.comment {
    display: flex;
    gap: 15px;
    margin: 20px 0;
    padding: 10px;
}

.comment p {
    margin-top: 10px;
}

.comment img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comment div {
    flex: 1;
}

.comment img.icon {
    width: 17px;
    height: 15px;
    vertical-align: auto;
    margin-top: 25px;
}

.view-more {
    background-color: #e7e7e7;
    padding: 8px 30px;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    font-size: 17px;;
    cursor: pointer;
}

footer {
    padding: 20px;
    text-align: center;
    width: 100%;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 30px;
}

.footer-links div {
    text-align: left;
}

.footer-links h4 {
    margin-bottom: 10px;
}

.footer-links a {
    display: block;
    color: #000000;
    text-decoration: none;
    margin: 3px 0;
}

.footer-links input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 200px;
}

.footer-links button {
    background-color: #ec5e5e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

footer p {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

#subscribe {
    font-weight: 400;
}

#subscribe-text {
    font-weight: 450;
    color: black;
    margin-top: 0;
    margin-bottom: 20px;;
}

.icon {
    cursor: pointer;
    transition: opacity 0.3s;
}

.icon:hover {
    opacity: 0.5;
}