/* header */
* {
  font-family: "Jost";
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* NAVIGATION BAR*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #ffff;
  position: sticky;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0 20px;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: black;
  transition: 0.3s ease;
}

a:hover {
  color: #61648a;
}

i {
  font-size: 20px;
}

.logo {
  width: 30%;
  display: flex;
  justify-content: center;
  max-width: 100%;
  min-width: 7rem;
  max-height: 100%;
  object-fit: contain;
}

/*footer*/

/* main part */
.blog-part1 {
  width: 100%;
  height: 100%;
  position: relative;
}

.blog-part1 img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  display: block;
}

.blog-part1 p {
  font-style: normal;
  position: absolute;
  text-align: center;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 30px;
}
