* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f9f9f9;
}

/* NAVIGATION BAR */
header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: transform 0.3s ease;
  }
  
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .nav-hidden {
    transform: translateY(-100%);
  }
  
  .left {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .middle {
    flex: 2;
    display: block;
    justify-content: center;
    align-items: center;
  }
  
  .middle ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    padding: 0;
    margin: 0 15px;
    justify-content: center;
  }
  
  .middle li {
    display: block;
    position: relative;
    width: fit-content;
  }
  
  .middle li::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1.2px;
    background: black;
    left: 0;
    bottom: -3px;
    transition: width 0.3s ease;
  }
  
  .middle li:hover::after {
    width: 100%;
  }

  .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
  }
  
  .en {
    margin-left: -8px;
  }
  
  .right {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
    justify-content: flex-end;
    padding-right: 10px;
  }
  
  .right a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    position: relative;
    width: fit-content;
    display: block;
    width: 55px;
  }
  
  .right a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1.2px;
    background: black;
    left: 0;
    bottom: -3px;
    transition: width 0.3s ease;
  }
  
  .right a:hover::after {
    width: 100%;
  }
  
  .logo {
    width: auto;
    height: 60px;
    object-fit: contain;
  }
  
  .fade {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    animation-name: fade;
  }
  
  .fade.show {
    opacity: 1;
    transform: translateY(0);
  }
  
 /* Search Bar Styling */
.search-container {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 50px;
    width: 250px;
    transition: border-color 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .search-container #searchInput {
    width: 100%;
    padding: 2px 10px 2px 2px; /* right padding increased for button space */
    font-size: 16px;
    border: none;
    outline: none;
  }
  
  .search-button {
    background-color: #17689c;
    border: none;
    color: white;
    border-radius: 50%;
    width: 2.3rem;
    height: 2rem;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-button:hover {
    background-color: #12567e;
  }
  
  .search-container:hover {
    border-color: #12567e;
  }
  
  /* Autofill box */
  .suggestions-box {
    position: absolute; /* Position the suggestions box relative to the search-container */
    top: 100%; /* Start the suggestions box just below the search input */
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    width: 100%; /* Same width as the search input */
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    border-radius: 20px;
    display: none;
    margin-top: 3px;
  }
  
  .suggestions-box div {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .suggestions-box div:hover {
    background-color: #f0f0f0;
  }
  
  /* Links */
  a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: black;
  }
  
  /* Language drop down menu*/
  .language-selector {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .language-selector::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1.2px;
    background: black;
    left: 0;
    bottom: -3px;
    transition: width 0.3s ease;
  }
  
  .language-selector:hover::after {
    width: 100%;
  }
  
  .selected-lang {
    padding-left: 0.5rem;
    font-size: 20px;
  }
  
  .language-menu {
    position: absolute;
    top: 100%;
    right: 0px;
    background-color: white;
    border: 1px solid #cccccc;
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    width: 90px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 100;
    border-radius: 20px;
  }
  
  .language-menu li {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
  }
  
  .language-menu li:hover {
    background-color: #f0f0f0;
  }
  
  .language-menu.show {
    display: block;
  }
  
.skyline {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.skyline img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.skyline-text {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    width: 40%;
    z-index: 2;
}

.skyline-text h1 {
    font-size: 42px;
    line-height: 1.3;
    font-weight: 450;
    letter-spacing: 0.8px;
}

.blogger {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

.info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.info .info-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
}

.name {
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
}

.user {
    font-size: 18px;
    font-weight: 400;
    line-height: 0;
}

.date-views {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
}

.date-views span {
    font-size: 16px;
    font-weight: 450;
}

#views {
    color: #666;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.content {
    display: flex;
    gap: 80px;
    max-width: 1200px;
    width: 100%;
}

.article {
    flex: 2;
}

.article p {
    font-size: 20px;
    font-weight: 450;
}

h2, h3, h4 {
    margin: 20px 0 10px;
}

h2 {
    font-size: 30px;
    color: #17689c;
    font-weight: 600;
}

h3 {
    font-size: 27px;
    font-weight: 500;
    color: #17689c;
}

ul {
    list-style: none;
    margin-bottom: 20px;
}

ul li {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 450;
}

ul li strong {
    color: #2d75ce;
}

.article-image {
    width: 70%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin: 20px auto;
    position: relative;
}

.blue-bottle {
    font-size: 24px;
    color: #2A9EF2;
    font-weight: 650;
}

.blue-text {
    color: #666;
    font-size: 14px;
    margin-bottom: 25px;
}

.reel {
    font-size: 24px;
    font-weight: 650;
    color: #ecc427;
}

.reel-text {
    color: #666;
    font-size: 14px;
    margin-bottom: 25px;
}

aside {
    flex: 1;
    max-width: 300px;
}

.search-bar {
    position: relative;
    width: 90%;
    height: 400px;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.search-bar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-background {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 80%;
    max-width: 500px;
}

.search-background h2 {
    color: white;
    font-size: 25px;
    font-weight: 450;
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
}

.search-box input {
    width: 100%;
    padding: 5px 12px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    outline: none;
    background: transparent;
    border: 2px solid white;
    color: white;             
    caret-color: white;  
}

.search-box input::placeholder {
    color: white;
}

.search-box button {
    position: absolute;
    background: transparent;
    top: 7px;
    right: 10px;
    border: none;
    cursor: pointer;
}

.search-box button img {
    width: 15px;
    height: 15px;
}

.tags {
    padding-bottom: 50px;
}

.tags span {
    display: inline-block;
    background-color: #17689c;
    color: white;
    padding: 5px 15px;
    margin: 5px 0;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.tags span:hover {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0%, 100% { transform: translateY(0);}
    50% {transform: translateY(-3px);}
}

.tags h4 {
    font-weight: 500;
}

.tags,.more-articles h4 {
    font-weight: 500;
    font-size: 20px;
}

.more-articles {
    margin: 50px 0;
    padding: 30px;
    background-color: #ebeaea;
}

.more-articles img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.more-articles h4 {
    font-weight: 500;
    margin-bottom: 15px;
}

.more-articles .article {
    padding: 0;
}

.more-articles a {
    text-decoration: underline;
    color: black;
    font-weight: 500;
    display: inline-block;
    font-size: 17px;
    margin-top: 5px;
}

#compass {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 3px;
    margin-top: 6px;
}

.comments {
    max-width: 800px;
    padding: 20px;
    width: 100%;
    position: relative;
}

.comments h3 {
    margin-bottom: 20px;
    color: #17689c;
}

.comments textarea {
    width: 100%;
    height: 120px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    resize: none;
    font-size: 15px;
    margin-bottom: 40px;
}

.post-btn {
    background-color: #17689c;
    color: white;
    padding: 8px 25px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    margin-top: 140px;
}

.comment {
    display: flex;
    gap: 15px;
    margin: 20px 0;
    padding: 10px;
    align-items: flex-start;
    margin-top: 30px;
}

.com-text {
    margin-top: 10px;
}

.comment img:first-child {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.comment img.icon {
    width: 17px;
    height: 15px;
    margin-right: 3px;
    margin-top: 15px;
}

.comment strong {
    font-weight: 500;
}

.comment span {
    color: #666;
    font-size: 14px;
    margin-left: 10px;
}

.view-more {
    background-color: #e7e7e7;
    padding: 8px 30px;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

/* Footer */
footer {
    padding: 20px;
    text-align: center;
    width: 100%;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 30px;
}

.footer-links div {
    text-align: left;
}

.footer-links h4 {
    margin-bottom: 5px;
}

.footer-links a {
    display: block;
    color: #000000;
    text-decoration: none;
    margin: 2px 0;
    position: relative;
    width: fit-content;
    font-size: 15px;
}

.footer-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1.2px;
    background: black;
    left: 0;
    bottom: -2px;
    transition: width 0.3s ease;
}

.footer-links a:hover::after {
    width: 100%;
}

.footer-links input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 200px;
}

.footer-links button {
    background-color: #f9f9f9;
    color: #000;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 5px;
    font-weight: 450;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer-links button:hover {
    transform: translateY(-2px);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 60px auto 0;
    padding: 0 50px;
    position: relative;
}

.logo {
    flex: 0 0 auto;
    flex: 1;
}

footer .social-icons {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 12px;
}

footer .social-icons img {
    width: 30px;
    height: 30px;
}

.lan-container {
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.lan {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.lan-container a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

#subscribe {
    font-weight: 600;
}

#subscribe-text {
    font-weight: 400;
    font-size: 15px;
    color: black;
    margin-top: 0;
    margin-bottom: 15px;
}

.subscribe-btn {
    font-size: 15px;
}

.icon {
    cursor: pointer;
    transition: all 0.3s;
}

.icon:hover {
    opacity: 0.5;
    transform: translateY(-3px);
}

#hr {
    border: none;
    border-top: 1px solid #e5e5e5;
    width: 100%;
}

/* hide the navigation bar style */
.nav-hidden {
    transform: translateY(-100%);
}

@media screen and (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        padding: 15px;
      }
      .logo {
        text-align: center;
        margin-bottom: 5px;
        width: 100%;
      }
      .middle {
        width: 100%;
        justify-content: center;
        margin: 10px 0;
      }
      .middle a {
        font-size: 18px;
        margin: 0 5px;
      }
      .right {
        width: 100%;
        justify-content: center;
        margin-top: 5px;
        gap: 10px;
      }
    
    .skyline {
        height: 400px;
    }
    
    .skyline-text {
        left: 50%;
        width: 80%;
    }
    
    .skyline-text h1 {
        font-size: 28px;
    }
    
    .blogger {
        padding: 15px;
        margin-bottom: 10px;
    }
    
    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .info-img {
        margin-left: 0;
        width: 60px;
        height: 60px;
    }
    
    .date-views {
        margin-left: auto;
        align-items: flex-end;
        padding: 0;
        text-align: right;
    }
    
    .date-views span {
        font-size: 14px;
    }
    
    .article h2 {
        font-size: 24px;
    }
    
    .article h3 {
        font-size: 20px;
    }
    
    .article p, .article li {
        font-size: 16px;
    }
    
    .article-image {
        width: 100%;
    }
    
    .tags span {
        font-size: 12px;
        padding: 4px 10px;
    }
    
    .comments textarea {
        height: 100px;
    }
    
    .post-btn {
        position: relative;
        display: block;
        margin-top: 10px;
        right: auto;
        margin-left: auto;
    }
    
    .content {
        flex-direction: column;
        gap: 40px;
        padding: 0 20px;
    }
    
    aside {
        max-width: 100%;
        margin-top: 40px;
    }
    
    .search-bar {
        width: 100%;
    }
    
    .comment {
        flex-direction: column;
    }
    
    .comment > div {
        margin-left: 0;
        margin-top: 10px;
    }
    
    .footer-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-content: space-between;
    }
    
    .footer-links div:last-child {
        grid-column: span 2; 
        text-align: center;
    }
    
    .footer-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 0;
        margin: 40px auto 0;
    }
    
    .footer-bottom .logo {
        text-align: center;
        width: 100%;
        margin: 0 0 10px;
        flex: none;
    }
    
    footer .social-icons {
        justify-content: center;
        width: 100%;
        margin: 10px 0;
        flex: none;
    }
    
    footer .lan-container {
        justify-content: center;
        width: 100%;
        margin: 10px 0;
        flex: none;
    }
}