* {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #000;
  background-color: #f9f9f9;
}

/* NAVIGATION BAR */
header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  position: relative;
}

.nav-hidden {
  transform: translateY(-100%);
}

.left {
  flex: 1;
  display: flex;
  align-items: center;
}

.middle {
  flex: 2;
  display: block;
  justify-content: center;
  align-items: center;
}

.middle ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  padding: 0;
  margin: 0 15px;
  justify-content: center;
}

.middle li {
  display: block;
  position: relative;
  width: fit-content;
}

.middle li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1.2px;
  background: black;
  left: 0;
  bottom: -3px;
  transition: width 0.3s ease;
}

.middle li:hover::after {
  width: 100%;
}

.right {
  flex: none;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
}

.en {
  margin-left: -8px;
}

.right a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  position: relative;
  width: 55px;
  display: block;
}

.right a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1.2px;
  background: black;
  left: 0;
  bottom: -3px;
  transition: width 0.3s ease;
}

.right a:hover::after {
  width: 100%;
}

.logo {
  width: auto;
  height: 60px;
  object-fit: contain;
}

/* Search Bar Styling */
.search-container {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 250px;
  transition: border-color 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.search-container #searchInput {
  width: 100%;
  padding: 2px 10px 2px 2px;
  font-size: 16px;
  border: none;
  outline: none;
}

.search-button {
  background-color: #17689c;
  border: none;
  color: white;
  border-radius: 50%;
  width: 2.3rem;
  height: 2rem;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  background-color: #12567e;
}

.search-container:hover {
  border-color: #12567e;
}

/* Autofill box */
.suggestions-box {
  position: absolute; /* Position the suggestions box relative to the search-container */
  top: 100%; /* Start the suggestions box just below the search input */
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  width: 100%; /* Same width as the search input */
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  border-radius: 20px;
  display: none;
  margin-top: 3px;
}

.suggestions-box div {
  padding: 8px 12px;
  cursor: pointer;
}

.suggestions-box div:hover {
  background-color: #f0f0f0;
}

/* Links */
a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: black;
}

/* Language drop down menu*/
.language-selector {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language-selector::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1.2px;
  background: black;
  left: 0;
  bottom: -3px;
  transition: width 0.3s ease;
}

.language-selector:hover::after {
  width: 100%;
}

.selected-lang {
  padding-left: 0.5rem;
  font-size: 20px;
}

.language-menu {
  position: absolute;
  top: 100%;
  right: 0px;
  background-color: white;
  border: 1px solid #cccccc;
  list-style-type: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
  width: 90px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 100;
  border-radius: 20px;
}

.language-menu li {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}

.language-menu li:hover {
  background-color: #f0f0f0;
}

.language-menu.show {
  display: block;
}

/* Footer */
footer {
  padding: 20px;
  text-align: center;
  max-width: 100%;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
}

.footer-links div {
  text-align: left;
}

.footer-links h4 {
  margin-bottom: 5px;
}

.footer-links a {
  display: block;
  color: #000000;
  text-decoration: none;
  margin: 2px 0;
  position: relative;
  width: fit-content;
  font-size: 15px;
}

.footer-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1.2px;
  background: black;
  left: 0;
  bottom: -2px;
  transition: width 0.3s ease;
}

.footer-links a:hover::after {
  width: 100%;
}

.footer-links input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 200px;
}

.footer-links button {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border: 2px solid #000;
  border-radius: 5px;
  font-weight: 450;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-links button:hover {
  transform: translateY(-2px);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 60px auto 0;
  padding: 0 50px;
  position: relative;
}

.logo {
  flex: 0 0 auto;
  flex: 1;
}

footer .social-icons {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 12px;
}

footer .social-icons img {
  width: 30px;
  height: 30px;
}

.lan-container {
  flex: 1;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.lan {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.lan-container a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

#subscribe {
  font-weight: 600;
}

#subscribe-text {
  font-weight: 400;
  font-size: 15px;
  color: black;
  margin-top: 0;
  margin-bottom: 15px;
}

.subscribe-btn {
  font-size: 15px;
}

.icon {
  cursor: pointer;
  transition: all 0.3s;
}

.icon:hover {
  opacity: 0.5;
  transform: translateY(-3px);
}

#hr {
  border: none;
  border-top: 1px solid #e5e5e5;
  width: 100%;
}

body {
  margin: 0;
  color: #000;
  background: #fff;
}

/* MAIN*/

/*Items that are the same in all sections on home page*/

.section-header {
  font-size: 1.7vw;
  font-weight: 500;
  color: #000;
  padding: 0.2vw;
  margin-bottom: 30px;
  text-align: center;
}

/* Section 1: Hero */
.hero {
  background-image: url("../images/Elia-Locardi-Travel-Photography-Shanghai-City-Of-Lights-China-1440-WM-DM-60q\ copy.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content h1 {
  font-size: 3.5vw;
  color: #fff;
  font-weight: 500;
  text-align: center;
  padding: 1rem;
  margin: 0;
}

.hero-content p {
  font-size: 1.5vw;
  font-weight: 500;
  justify-content: center;
  color: #fff;
  max-width: 30vw;
  text-align: center;
  margin: 0;
  padding: 1rem;
}

.hero-content button {
  padding: 0.75rem 1.5rem;
  background-color: transparent;
  border: 2px solid;
  border-color: white;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: 450;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 0;
}

.hero-content button:hover {
  transform: translateY(-3px);
}

/* Section 2: weather box */

.weather-box {
  width: 100%;
  padding: 12px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-bottom: 2px;
  border-radius: 0;
  margin: 0;
  margin-top: 2.5rem;
}

.weather-box h2 {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 500;
  color: #17689c;
}

#weather-information {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

/* Section 3: Shortcuts */
.shortcuts {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  text-align: center;
}

.category-row {
  display: flex;
  margin-top: 30px;
  gap: 1rem;
}

.category {
  flex: 1;
  background-size: cover;
  background-position: center;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.category:hover {
  transform: scale(1.05);
}
.category-row a {
  flex: 1;
  text-decoration: none;
}

.category-row a:nth-child(1) .category {
  background-image: url("../images/museum..jpg");
}
.category-row a:nth-child(2) .category {
  background-image: url("../images/bistro.jpg");
}
.category-row a:nth-child(3) .category {
  background-image: url("../images/fashion.jpg");
}
.category-row a:nth-child(4) .category {
  background-image: url("../images/hotel.jpg");
}

/*Section 3: Food carousel section*/

.food-gallery {
  padding: 0;
  margin-top: 70px;
  text-align: center;
  background-color: #fff;
}

.gallery-container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.gallery-track {
  display: flex;
  transition: transform 0.5s ease;
  gap: 1rem;
}

.gallery-item {
  flex: 0 0 22%; /* Show 4 items at a time */
  text-align: center;
}

.gallery-item img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 1rem;
}

.gallery-item p {
  margin-top: 0.5rem;
  font-weight: 500;
}

.gallery-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 1;
  border-radius: 50%;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

/* Section 5: Promo */
.promo {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 70px;
  gap: 3rem;
  align-items: center;
}

.promo-img {
  width: 30rem;
  border-radius: 1rem;
}

.promo-text {
  width: 50vw;
}
.promo-text h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.promo-text a {
  color: #17689c;
  text-decoration: none;
  font-weight: 450;
  border: 2px solid #17689c;
  padding: 10px 20px;
  border-radius: 5px;
  transition: transform 0.3s ease;
  display: inline-block;
  transform: translateY(0);
  position: relative;
  z-index: 1;
}

.promo-text a:hover {
  transform: translateY(-3px);
}

/* Section 6: Top Rated */
.top-rated {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 70px;
  text-align: center;
}

.top-rated-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 0;
  padding: 0;
}

.activitytop {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;
  max-width: 100%;
}

.activitytop img {
  width: 100%;
  border-radius: 0.5rem;
  display: block;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.activitytop p {
  margin-top: 1rem;
  text-align: center;
  font-weight: 500;
}

/* Section 6: Last Minute */
.last-minute {
  background-image: url("../images/WechatIMG779.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 5rem 1rem;
  position: relative;
}

.last-minute-overlay h2 {
  font-weight: 500;
  font-size: 24px;
}

.btn-transparent {
  background-color: transparent;
  color: white; 
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-transparent:hover {
  transform: translateY(-3px);
}
/*RESULTS PAGE*/
.results-container {
  max-width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 5vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.activity-tile {
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
  background: #fff;
  border-radius: 8px;
  transition: 0.3s;
}

.activity-tile img {
  width: 30vh;
  height: 20vh;
  object-fit: cover;
}

.book-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #17689c;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

#showMoreBtn {
  width: 118px;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #17689c;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
}

#showMoreBtn:hover {
  background-color: #12567e;
}

#showLessBtn {
  width: 118px;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #17689c;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
}

#showLessBtn:hover {
  background-color: #12567e;
}

/*EVENTS*/
.event-hero {
  text-align: center;
  margin-top: 70px;
}

.events {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 0 2rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.event-cards {
  width: 100%;
}

.event-card {
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  position: relative;
  transition: transform 0.3s ease;
}

.event-card-img {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.event-card-img img {
  width: 100%;
  height: 320px;
  display: block;
  transition: transform 0.5s ease;
}

.event-card:hover .event-card-img img {
  transform: scale(1.05);
}

.event-card:hover .event-category {
  background-color: rgba(255, 255, 255, 1);
  color: black;
}

.event-category {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 500;
  z-index: 1;
  transition: all 0.3s ease;
}

.event-info {
  padding: 15px 15px 5px;
}

.event-info h3 {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.3;
  font-weight: 550;
  text-align: left;
}

.date {
  display: flex;
  align-items: center;
  padding: 0 15px 5px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.location {
  display: flex;
  align-items: center;
  padding: 0 15px 5px;
  font-size: 14px;
  font-weight: 500;
}

.location img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.fade {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  animation-name: fade;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}

/*Section 8: Insta gallery*/

.insta-section {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 70px;
  align-items: center;
  margin-bottom: 30px;
}

.instacards {
  display: flex;
  gap: 1rem;
}

.card img {
  max-width: 80%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  /*HEADER TABLET*/
  .nav-container {
    flex-direction: column;
    padding: 15px;
  }
  .logo {
    text-align: center;
    margin-bottom: 5px;
    width: 100%;
  }
  .middle {
    width: 100%;
    justify-content: center;
    margin: 10px 0;
  }
  .middle a {
    font-size: 18px;
    margin: 0 5px;
  }
  .right {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 5px;
    gap: 10px;
  }

  /*MAIN TABLET*/

  .section-header {
    font-size: 3vw;
    margin-bottom: 15px;
  }

  /*HERO TABLET*/

  .hero {
    max-height: 40vh;
  }
  .hero-content h1 {
    font-size: 2rem;
  }
  .hero-content p {
    font-size: 1rem;
    max-width: 50vw;
  }

  /*SHORTCUTS TABLET*/

  .category-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }

  .category {
    height: 12rem;
    font-size: 1.2rem;
  }

  /*FOOD TABLET*/

  /* .food-gallery {
  padding: 0;
  margin-top: 70px;
  text-align: center;
  background-color: #fff;
}

.gallery-container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.gallery-track {
  display: flex;
  transition: transform 0.5s ease;
  gap: 1rem;
}

.gallery-item {
  flex: 0 0 22%; /* Show 4 items at a time 
  text-align: center;
}

.gallery-item img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 1rem;
}

.gallery-item p {
  margin-top: 0.5rem;
  font-weight: 500;
}

.gallery-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 1;
  border-radius: 50%;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}
*/

  /*PROMO TABLET*/

  .promo {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0.5rem;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
  }

  .promo-img {
    max-width: 70vw;
    border-radius: 1rem;
    padding: 0;
  }


  .promo-text {
    text-align: center;
    padding: 0;
  }
  
  .promo-text h3 {
    font-size: 2.5vw;
    margin-bottom: 1rem;
    padding: 10px;
  }

  .promo-text a {
    text-decoration: none;
    padding: 10px;
    margin: 0 auto;
    display: inline-block;
  }

  /*EVENTS TABLET*/

  .event-hero {
    margin-left: 100px;
    margin-right: 100px;
  }
  .events {
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
  .event-cards {
    max-width: 350px;
    margin: 0 auto;
  }
  .event-card-img img {
    height: 400px;
    object-fit: cover;
  }
  .event-info {
    padding-left: 0;
  }
  .date {
    padding-left: 0;
  }
  .location {
    padding-left: 0;
  }

  /*FOOTER TABLET*/

  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
  }

  .footer-links div:last-child {
    grid-column: span 1;
    text-align: center;
    align-items: center;
  }

  .footer-links div {
    text-align: center;
    align-items: center;
  }

  .footer-links div a {
    display: block;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 40px auto 0;
  }

  .footer-bottom .logo {
    text-align: center;
    width: 100%;
    margin: 0 0 10px;
    flex: none;
  }

  footer .social-icons {
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    flex: none;
  }

  footer .lan-container {
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    flex: none;
  }

  /*INSTAGRAM TABLET*/

  .instacards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .card {
    display: flex;
    justify-content: center;
  }

  .card img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }

  /*TOP RATED TABLET*/

  .top-rated-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }

  .gallery-item {
    flex: 0 0 45%;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /*INSTA TABLET*/
  .instacards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  /*LAST MINUTE PHONE*/
  .last-minute {
    max-height: 40vh;
  }
}

@media (max-width: 480px) {
  /*HEADER  PHONE*/
  .nav-container {
    flex-direction: column;
    padding: 15px;
  }
  .logo {
    text-align: center;
    margin-bottom: 5px;
    width: 100%;
  }
  .middle {
    width: 100%;
    justify-content: center;
    margin: 10px 0;
  }
  .middle a {
    font-size: 18px;
    margin: 0 5px;
  }
  .right {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 5px;
    gap: 10px;
  }

  /*MAIN PHONE*/

  .section-header {
    font-size: 5vw;
    margin-bottom: 15px;
  }

  /*HERO PHONE*/

  .hero {
    max-height: 50vh;
  }
  .hero-content h1 {
    font-size: 2rem;
  }
  .hero-content p {
    font-size: 1rem;
    max-width: 90vw;
  }

  /*SHORTCUTS PHONE*/

  .shortcuts {
    margin-left: 30px;
    margin-right: 30px;
  }

  .category-row {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .category {
    height: 12rem;
    font-size: 1.2rem;
  }

  /*FOOD PHONE*/

  .gallery-item p {
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 0.8rem;
  }

  /*PROMO PHONE*/

  .promo {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0.5rem;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
  }

  .promo-img {
    max-width: 100%;
    border-radius: 1rem;
    padding: 0;
  }

  .promo-text {
    text-align: center;
    padding: 0;
    max-width: 100%;
    width: 100%;
  }
  .promo-text h3 {
    font-size: 3.8vw;
    margin-bottom: 1rem;
    padding: 10px;
  }

  .promo-text a {
    padding: 10px;
    margin: 0 auto;
    display: inline-block;
  }

  /*EVENTS TABLET*/

  .event-hero {
    margin-left: 30px;
    margin-right: 30px;
  }
  .events {
    grid-template-columns: 1fr;
    padding: 0;
  }
  .event-cards {
    max-width: 350px;
    margin: 0 auto;
  }
  .event-card-img img {
    height: 400px;
    object-fit: cover;
  }
  .event-info {
    padding-left: 0;
  }
  .date {
    padding-left: 0;
  }
  .location {
    padding-left: 0;
  }

  /*FOOTER PHONE*/

  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
  }

  .footer-links div:last-child {
    grid-column: span 1;
    text-align: center;
    align-items: center;
  }

  .footer-links div {
    text-align: center;
    align-items: center;
  }

  .footer-links div a {
    display: block;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 40px auto 0;
  }

  .footer-bottom .logo {
    text-align: center;
    width: 100%;
    margin: 0 0 10px;
    flex: none;
  }

  footer .social-icons {
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    flex: none;
  }

  footer .lan-container {
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    flex: none;
  }
  /*INSTAGRAM TABLET*/

  .insta-section {
    margin-left: 30px;
    margin-right: 30px;
  }
  .instacards {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .card {
    display: flex;
    justify-content: center;
  }

  .card img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }

  /*TOP RATED TABLET*/

  .top-rated {
    margin-left: 30px;
    margin-right: 30px;
  }
  .top-rated-gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  .activitytop p {
    margin-top: 0.3rem;
    font-size: 0.8rem;
  }
  /*INSTA TABLET*/
  .instacards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  /*LAST MINUTE PHONE*/
  .last-minute {
    max-height: 30vh;
  }
}
